$red: red;
$grew: #A6A2A2;
$font-stack: Helvetica, sans-serif;
$border: 1px solid red;
$inl: inline-block;
*{
  margin: 0;
  padding: 0; 
}
body {
  color: $grew;
  font: 100% $font-stack;
  background-color: #FBFBF2;
}
.page-title{
  float: left;
  display: block;
  width: 300px;
  margin-top: 12px;
  color: #847577;
}
.social-list{
  float: right;
  display: block;
  margin-top: 12px;
}
.social-item{
  display: $inl;
  margin-left: 14px;
}
.social-link{
  display: block;
  text-indent: -9999px;
  
  box-shadow: 0px 0px 1px 0px #847577;
  text-overflow: hidden;
  width: 32px;
  height: 32px;
}
.header{
  display: block;
  height: 60px;
 /* background-color: #847577;*/
}
.nav-bar{
  width: 700px;
  float: left;
  margin-bottom: 35px;
}
.wrapper{
  width: 1140px;
  margin: 0 auto;
}
.clearfix:after, .clearfix:before{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}
.nav-list__nav-item{
  list-style-type: none;
  display: $inl; 
  margin-right: -5px;
  
}
.nav-bar{
  //box-shadow: 0px 0px 8px 0px #847577;
}

.nav-item__nav-link{
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: $grew;
  display: block;
  width: 150px;
  padding: 10px;
  position: relative;
  max-height: 38px;
}
.nav-item__nav-link:after{
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 0;
  bottom:0;
  left:0; 
  background-color: #847577;
}
.nav-item__nav-link:hover:after{
  width: 100%;
  transition: ease-out 0.2s;
}
.nav-item__nav-link:hover{
  color: #847577;
}/*
.nav-item__nav-link:active, .nav-item__nav-link:focus{
   background: rgba(166,162,162,.10);
   transition: ease-out 0.4s;
   color: #847577;
}*/
.nav-item__nav-link:active, .nav-item__nav-link:focus{
   background: rgba(166,162,162,.2);
   transition: ease-out 0.4s;
   color: #847577;
}
.nav-item__nav-link:active:after, .nav-item__nav-link:focus:after{
   width: 100%;
}
.search{
  padding: 0;
  margin: 0;
  float: right;
  display: block;
  width: 400px;
  

}
.input-search{
  display: block;
  max-height: 40px;
  width: 256px;
  float: left;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #847577;
  background: rgba(166,162,162,.2);
  
}
.input-search:focus{
  border: none;
  outline: none;
  border-bottom: 2px solid #847577;
  box-shadow: none;
  
}
.btn-search{
  display: block;
  max-height: 41px;
  padding: 12px;
  width: 120px;
  float: right;
  border: none;
  
  color: white;;
  font-size: 16px;
  background: #847577;
  cursor: pointer;
}
.btn-search:hover{
  box-shadow: 0px 0px 4px 0px #847577;
}
.content-box{
  display: block;
  margin-bottom: 30px;
  
}
.shadow{
 // box-shadow: 0px 0px 2px 0px #847577;
  display: none;
}
.alhabet-list{
  text-align: center;
  margin-bottom: 32px;
 // box-shadow: 0px 0px 2px 0px #847577;
}
.first-letter-link{
  display: inline-block;
  width: 36px;
  height: 32px;
  text-decoration: none;
  padding-top: 5px;
  margin-right: 5px;
  color: #A6A2A2;
  font-size: 22px;
}
.first-letter-link:hover{
  box-shadow: 0px 0px 4px 0px #847577;
  
  color: #847577;
}
.first-letter-title{
  display: block;
  font-size: 30px;
  box-sizing: border-box;
  padding: 12px 20px;
  //width: 250px;
  border-bottom: 2px solid #847577;
  color: #847577;
  margin-bottom: 12px;
}
.shop-list{
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.shop-item{
  display: $inl;
  padding-left: 15px;
}
.shop-link{
  display: block;
  text-decoration: none;
  color: #A6A2A2;
  padding: 5px;
  position: relative;
}
.shop-link:after{
  content: "";
  display: block;
  background-color: #847577;
  position: absolute;
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
}
.shop-link:hover{
  color: #847577;
  transition: ease-out 200ms;
}
.shop-link:hover:after{
  width: 100%;
  transition: ease-out 200ms;
}
