html
  head
    link 
  body
    title 123
    .wrapper.clearfix
      header.header
        .container.clearfix
          h1.page-title [ Promo ] 

          ul.social-list
            li.social-item
              a.social-link.vk(href="#") vk
            li.social-item
              a.social-link.fb(href="#") fb
            li.social-item
              a.social-link.inst(href="#") instagram 
      main.menu 
        .container.clearfix
          nav.nav-bar
            ul.nav-bar__nav-list
              li.nav-list__nav-item
                a.nav-item__nav-link.current(href="#") Shops
              li.nav-list__nav-item
                a.nav-item__nav-link(href="#") Goods
              li.nav-list__nav-item
                a.nav-item__nav-link(href="#") Stocks 
              li.nav-list__nav-item
                a.nav-item__nav-link(href="#") Contacts
          form.search.clearfix
            input(type="text",placeholder="I want to find").input-search
            button(type="submit").btn-search Search
      main.main-content
        .content-box.letter-box
          .alhabet-list
            a.first-letter-link#link_0-9(href="#") 0-9
            a.first-letter-link#link_A(href="#") A
            a.first-letter-link#link_B(href="#") B
            a.first-letter-link#link_C(href="#") C
            a.first-letter-link#link_D(href="#") D
            a.first-letter-link#link_E(href="#") E
            a.first-letter-link#link_F(href="#") F
            a.first-letter-link(href="#") G
            a.first-letter-link(href="#") H
            a.first-letter-link(href="#") I
            a.first-letter-link(href="#") J
            a.first-letter-link(href="#") K
            a.first-letter-link(href="#") L
            a.first-letter-link(href="#") M
            a.first-letter-link(href="#") N
            a.first-letter-link(href="#") O
            a.first-letter-link(href="#") P
            a.first-letter-link(href="#") Q
            a.first-letter-link(href="#") R
            a.first-letter-link(href="#") S
            a.first-letter-link(href="#") T
            a.first-letter-link(href="#") U
            a.first-letter-link(href="#") V
            a.first-letter-link(href="#") W
            a.first-letter-link(href="#") X
            a.first-letter-link(href="#") Y
            a.first-letter-link(href="#") Z
        
          .alhabet-list
            a.first-letter-link(href="#") А
            a.first-letter-link(href="#") Б
            a.first-letter-link(href="#") В
            a.first-letter-link(href="#") Г
            a.first-letter-link(href="#") Д
            a.first-letter-link(href="#") Е
            a.first-letter-link(href="#") Ё
            a.first-letter-link(href="#") Ж
            a.first-letter-link(href="#") З
            a.first-letter-link(href="#") И
            a.first-letter-link(href="#") К
            a.first-letter-link(href="#") Л
            a.first-letter-link(href="#") М
            a.first-letter-link(href="#") Н
            a.first-letter-link(href="#") О
            a.first-letter-link(href="#") П
            a.first-letter-link(href="#") Р
            a.first-letter-link(href="#") С
            a.first-letter-link(href="#") Т
            a.first-letter-link(href="#") У
            a.first-letter-link(href="#") Ф
            a.first-letter-link(href="#") Ц
            a.first-letter-link(href="#") Ч
            a.first-letter-link(href="#") Х
            a.first-letter-link(href="#") Э
            a.first-letter-link(href="#") Ю
            a.first-letter-link(href="#") Я
        .content-box.shadow#0-9
          .first-letter-title 0-9
          ul.shop-list
            li.shop-item
              a.shop-link(href="#") 1 ghhgs
            li.shop-item
              a.shop-link(href="#") 2 ghhgs
            li.shop-item
              a.shop-link(href="#") 3 ghhgs
            li.shop-item
              a.shop-link(href="#") 4 ghhgs
            li.shop-item
              a.shop-link(href="#") 5 Aghhgs
        .content-box.shadow#A
          .first-letter-title A
          ul.shop-list
            li.shop-item
              a.shop-link(href="#") Aghhgs
            li.shop-item
              a.shop-link(href="#") Aghhgs
            li.shop-item
              a.shop-link(href="#") Aghhgs
            li.shop-item
              a.shop-link(href="#") Aghhgs
            li.shop-item
              a.shop-link(href="#") Aghhgs
        .content-box.shadow#B
          .first-letter-title B
          ul.shop-list
            li.shop-item
              a.shop-link(href="#") Bghhgs
            li.shop-item
              a.shop-link(href="#") Bghhgs
            li.shop-item
              a.shop-link(href="#") Bghhgs
            li.shop-item
              a.shop-link(href="#") Bghhgs
            li.shop-item
              a.shop-link(href="#") Bghhgs
        .content-box.shadow#C
          .first-letter-title C
          ul.shop-list
            li.shop-item
              a.shop-link(href="#") Cghhgs
            li.shop-item
              a.shop-link(href="#") Cghhgs
            li.shop-item
              a.shop-link(href="#") Cghhgs
            li.shop-item
              a.shop-link(href="#") Cghhgs
            li.shop-item
              a.shop-link(href="#") Cghhgs   
      
              
          
          
        
      
        
    footer.footer
  